#app{
  height:90vh;
}
#ptag{
	color:blue;
}
.button-day{
	background-color:"white";
	color:"blue";
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
}

.button_night{
  background-color:black;
  color:blue; 
}
